---
import SunIcon from "./icons/Sun.astro"
import MoonIcon from "./icons/Moon.astro"
---

<div class="relative ml-1 mr-1">
  <button
    transition:persist
    id="theme-toggle-btn"
    class="appearance-none border-none flex hover:scale-110 transition"
  >
    <span class="sr-only">Elige el tema</span>

    <!-- Los íconos se actualizarán dinámicamente usando un script -->
    <SunIcon
      id="light"
      class="theme-toggle-icon size-5 transition-all"
      style="display: none;"
    />
    <MoonIcon
      id="dark"
      class="theme-toggle-icon size-5 transition-all"
      style="display: none;"
    />
  </button>
</div>

<script>
  enum Theme {
    Light = "light",
    Dark = "dark",
    System = "system",
  }
  let currentTheme = Theme.Light // Tema inicial (puede ser Theme.Light o Theme.Dark)
  const matchMedia = window.matchMedia("(prefers-color-scheme: dark)")

  // Obtener el tema almacenado o el sistema predeterminado
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined") {
      return localStorage.getItem("theme") ?? Theme.System
    }
    return matchMedia.matches ? Theme.Dark : Theme.Light
  }

  const updateTheme = () => {
    const themePreference = getThemePreference()
    const isDark =
      themePreference === Theme.Dark ||
      (themePreference === Theme.System && matchMedia.matches)

    // Cambiar el tema de la página
    document.documentElement.classList[isDark ? "add" : "remove"](Theme.Dark)

    // Actualizar el tema y mostrar el ícono correspondiente
    currentTheme = themePreference

    // Mostrar el ícono correcto (ocultar los otros)
    const sunIcon = document.getElementById(Theme.Light) as HTMLElement
    const moonIcon = document.getElementById(Theme.Dark) as HTMLElement

    if (currentTheme === Theme.Light) {
      sunIcon.style.display = "block"
      moonIcon.style.display = "none"
    } else {
      sunIcon.style.display = "none"
      moonIcon.style.display = "block"
    }
  }

  updateTheme()

  document.addEventListener("click", (e) => {
    if (!e.target?.closest("#theme-toggle-btn")) {
      // No hacer nada si el click no es sobre el botón de tema
      return
    }

    // Alternar entre light y dark
    currentTheme = currentTheme === Theme.Light ? Theme.Dark : Theme.Light
    localStorage.setItem("theme", currentTheme)

    updateTheme()
  })
</script>
